


&{
  h2{
    font-family: "GloriaHallelujah";
    font-size: $font-size-xl;
  }
  .tape-section {
  position: absolute;
  width: 100%;
  }
  .tape-section:first-of-type {
  top: 0;
  }
  .tape-section:last-of-type {
  bottom: 0;
  }
}

$tape: #dbd8be;
$tape-edge: #666;
$tape-offsetX:-5vmin;
$tape-offsetY:-2vmin;
$tape-rotate:(45deg);
.tape-section {
  justify-content: center;
  position: absolute;
}
.tape-section::before,
.tape-section::after {
  display: flex;
  position: absolute;
  justify-content: center;
  place-items: center;
  content: "VAV";
  width: 10vmin;
  height: 3vmin;
  position: absolute;
  background-color: $tape;
  opacity: 0.7;
  border-right: 1px dotted $tape-edge;
  border-left: 1px dotted $tape-edge;
  filter: drop-shadow(0px 0px 1px hsl(0, 0%, 0%));
  color: rgba(0, 0, 0, 0.08); 
}

.tape-section:first-of-type::before {
  transform: rotate(-$tape-rotate);
  left: $tape-offsetX;
  bottom: $tape-offsetY;
}

.tape-section:first-of-type::after {
  transform: rotate($tape-rotate);
  right:$tape-offsetX;
  bottom: $tape-offsetY;
}  
.tape-section:last-of-type::before {
  transform: rotate($tape-rotate);
  left:$tape-offsetX;
  bottom: $tape-offsetY;
}

.tape-section:last-of-type::after {
  transform: rotate(-$tape-rotate);
right:$tape-offsetX;
bottom: $tape-offsetY;
}  